# Pandas

In [1]:
import pandas as pd

In [2]:
hotels = pd.read_csv("hotel_booking_data.csv")

In [3]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [5]:
hotels.shape

(119390, 36)

In [6]:
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [7]:
hotels.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [9]:
hotels.describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,119390.0,0.370416,0.482918,0.00,0.00,0.000,1.0,1.0
lead_time,119390.0,104.011416,106.863097,0.00,18.00,69.000,160.0,737.0
arrival_date_year,119390.0,2016.156554,0.707476,2015.00,2016.00,2016.000,2017.0,2017.0
arrival_date_week_number,119390.0,27.165173,13.605138,1.00,16.00,28.000,38.0,53.0
arrival_date_day_of_month,119390.0,15.798241,8.780829,1.00,8.00,16.000,23.0,31.0
stays_in_weekend_nights,119390.0,0.927599,0.998613,0.00,0.00,1.000,2.0,19.0
stays_in_week_nights,119390.0,2.500302,1.908286,0.00,1.00,2.000,3.0,50.0
adults,119390.0,1.856403,0.579261,0.00,2.00,2.000,2.0,55.0
children,119386.0,0.103890,0.398561,0.00,0.00,0.000,0.0,10.0
babies,119390.0,0.007949,0.097436,0.00,0.00,0.000,0.0,10.0
is_repeated_guest,119390.0,0.031912,0.175767,0.00,0.00,0.000,0.0,1.0
previous_cancellations,119390.0,0.087118,0.844336,0.00,0.00,0.000,0.0,26.0
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.0
booking_changes,119390.0,0.221124,0.652306,0.00,0.00,0.000,0.0,21.0
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.0
company,6797.0,189.266735,131.655015,6.00,62.00,179.000,270.0,543.0
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.0
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.0
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.0

In [10]:
hotels.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
89570,City Hotel,0,57,2016,May,21,21,1,1,2,...,Transient,126.90,0,2,Check-Out,2016-05-23,Joshua Jones,Jones.Joshua@protonmail.com,114-920-5150,************2254
90586,City Hotel,0,0,2016,June,24,8,0,1,1,...,Transient,92.65,0,0,Check-Out,2016-06-09,Lori Villa,Villa_Lori@aol.com,497-310-3134,************5255
10350,Resort Hotel,1,49,2017,February,9,28,0,2,2,...,Transient,35.00,0,0,Canceled,2017-01-19,Christina Brady,ChristinaBrady@att.com,529-336-7953,************6179
40486,City Hotel,1,25,2015,July,31,27,1,1,2,...,Transient-Party,62.00,0,0,Canceled,2015-07-22,Stephen Owens II,Stephen.I@outlook.com,509-252-7932,************9191
30846,Resort Hotel,0,6,2016,December,50,4,2,0,2,...,Transient,71.50,0,0,Check-Out,2016-12-06,Doris Hodge MD,Doris.M@mail.com,587-410-0536,************9855

In [11]:
hotels.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [12]:
hotels.count()

hotel                             119390
is_canceled                       119390
lead_time                         119390
arrival_date_year                 119390
arrival_date_month                119390
arrival_date_week_number          119390
arrival_date_day_of_month         119390
stays_in_weekend_nights           119390
stays_in_week_nights              119390
adults                            119390
children                          119386
babies                            119390
meal                              119390
country                           118902
market_segment                    119390
distribution_channel              119390
is_repeated_guest                 119390
previous_cancellations            119390
previous_bookings_not_canceled    119390
reserved_room_type                119390
assigned_room_type                119390
booking_changes                   119390
deposit_type                      119390
agent                             103050
company                             6797
days_in_waiting_list              119390
customer_type                     119390
adr                               119390
required_car_parking_spaces       119390
total_of_special_requests         119390
reservation_status                119390
reservation_status_date           119390
name                              119390
email                             119390
phone-number                      119390
credit_card                       119390
dtype: int64

In [13]:
hotels["hotel"]

0         Resort Hotel
1         Resort Hotel
2         Resort Hotel
3         Resort Hotel
4         Resort Hotel
              ...
119385      City Hotel
119386      City Hotel
119387      City Hotel
119388      City Hotel
119389      City Hotel
Name: hotel, Length: 119390, dtype: object

In [14]:
hotels["hotel"].unique()

array(['Resort Hotel', 'City Hotel'], dtype=object)

In [15]:
hotels["stays_in_week_nights"].mean()

2.500301532791691

In [16]:
hotels["stays_in_week_nights"].describe()

count    119390.000000
mean          2.500302
std           1.908286
min           0.000000
25%           1.000000
50%           2.000000
75%           3.000000
max          50.000000
Name: stays_in_week_nights, dtype: float64

In [18]:
hotels.groupby(["hotel"]).mean()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
hotel,,,,,,,,,,,,,,,,,,,,
City Hotel,0.417270,109.735724,2016.174285,27.177449,15.786625,0.795185,2.182957,1.850977,0.091370,0.004941,0.025615,0.079743,0.132371,0.187369,28.144721,145.271618,3.226774,105.304465,0.024367,0.546918
Resort Hotel,0.277634,92.675686,2016.121443,27.140864,15.821243,1.189815,3.128732,1.867149,0.128682,0.013904,0.044383,0.101722,0.146455,0.287968,217.571725,241.486165,0.527758,94.952930,0.138068,0.619770

In [19]:
hotels.groupby(["hotel"]).describe()["children"]

                count      mean       std  min  25%  50%  75%   max
hotel
City Hotel    79326.0  0.091370  0.372177  0.0  0.0  0.0  0.0   3.0
Resort Hotel  40060.0  0.128682  0.445195  0.0  0.0  0.0  0.0  10.0

In [20]:
hotels["children"].mode()

0    0.0
dtype: float64

In [21]:
hotels["children"] > 2

0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: children, Length: 119390, dtype: bool

## Exercises

In [24]:
len(hotels)

119390

In [28]:
hotels.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [34]:
hotels["country"].value_counts()[0:5]

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

In [40]:
hotels["adr"].mean()

101.83112153446686

In [43]:
hotels["total_nights"] = hotels["stays_in_week_nights"] + hotels["stays_in_weekend_nights"]

round(hotels["total_nights"].mean(),2)

3.43

In [44]:
hotels['total_paid'] = hotels['adr'] * hotels['total_nights']

round(hotels['total_paid'].mean(),2)

357.85

In [54]:
hotels[hotels['total_of_special_requests'] == 5][['name','email','phone-number']]

                          name                          email  phone-number
7860             Amanda Harper           Amanda.H66@yahoo.com  864-257-9807
11125            Laura Sanders      Sanders_Laura@hotmail.com  120-754-3942
14596              Tommy Ortiz            Tommy_O@hotmail.com  377-098-5937
14921           Gilbert Miller         Miller.Gilbert@aol.com  806-574-2045
14922           Timothy Torres         TTorres@protonmail.com  422-113-4918
24630          Jennifer Weaver             Jennifer_W@aol.com  341-150-8437
27288           Crystal Horton             Crystal.H@mail.com  736-187-2543
27477           Brittney Burke       Burke_Brittney16@att.com  825-860-3212
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com  280-973-9357
29949              Sarah Floyd              Sarah_F@gmail.com  100-586-7149
32267           Michelle Villa         Michelle.Villa@aol.com  494-968-0905
39027           Nichole Hebert       Hebert.Nichole@gmail.com  474-796-1175
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com  342-438-6097
39525           Ashley Edwards       Edwards.Ashley@yahoo.com  626-492-1882
70114       Christopher Torres   Torres.Christopher@gmail.com  860-988-0351
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com  988-952-5135
78820           Michaela Brown          MichaelaBrown@att.com  548-026-5186
78822        Kurt Maldonado MD              KMD15@xfinity.com  596-909-0721
97072         Jason Richardson               Jason.R@zoho.com  723-140-0567
97099             Terri Hurley            THurley@xfinity.com  942-403-4963
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net  428-370-6078
98410             Holly Arroyo          Arroyo_Holly@mail.com  552-014-6735
98674          Denise Campbell             Denise_C@gmail.com  611-914-5212
99887            Michael Smith            Michael.S42@aol.com  543-085-3867
99888       Dr. Trevor Sellers                  Dr._S@aol.com  365-005-8392
101569            Kayla Murphy         Kayla.Murphy@yahoo.com  645-326-3016
102061         Taylor Martinez    Taylor.Martinez@hotmail.com  290-360-7041
109511          Charles Wilson       Charles_Wilson@yahoo.com  469-999-0942
109590           Tyler Allison         Tyler.A@protonmail.com  685-168-8139
110082          Matthew Bailey         Matthew_Bailey@aol.com  285-274-5663
110083       Charlotte Acevedo        Charlotte_A@verizon.com  345-877-4448
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com  739-153-3639
111911          Melinda Jensen         MelindaJensen@zoho.com  129-892-8585
113915            Terry Arnold          Arnold.Terry@zoho.com  923-765-3627
114770             Mary Nguyen     Nguyen.Mary@protonmail.com  557-683-4481
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com  741-276-6171
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com  713-506-8850
116457          Angela Hawkins             Angela_H@gmail.com  198-157-4544
118817              Sue Lawson            Sue.L52@comcast.net  287-649-4214
119161         Alyssa Richards        Alyssa_Richards@aol.com  737-736-4293

In [56]:
hotels['is_repeated_guest'] / hotels['total_of_special_requests'] * 100

0         NaN
1         NaN
2         NaN
3         NaN
4         0.0
         ...
119385    NaN
119386    0.0
119387    0.0
119388    NaN
119389    0.0
Length: 119390, dtype: float64

In [68]:
hotels['children_babies'] = hotels['children'] + hotels['babies']

hotels.sort_values('children_babies',ascending=False)[['name','children_babies','children','babies']][0:5]

                     name  children_babies  children  babies
328         Jamie Ramirez             10.0      10.0       0
46619     Nicholas Parker             10.0       0.0      10
78656       Marc Robinson              9.0       0.0       9
19718   Mr. Jeffrey Cross              3.0       3.0       0
107837      Albert French              3.0       1.0       2